.App {
  text-align: center;
  background-image: url('http://www.seekgif.com/uploads/80s-retro-neon-gradient-background-16.jpeg');
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.movieListUl {
  list-style: none;
  display: flex;
  flex-direction: column;
}
 p {
   font-size: 1.5em;
 }

 h1 {
   font-size: 5em;
 }

 h2 {
   font-size: 3em;
 }

 h3 {
   font-size: 1.5em;
 }